---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const personnes = await getCollection("personne");
---

<Layout pageTitle="Liste des personnes">
  <h1>Liste des personnes</h1>
  <ul>
    {
      personnes.map((personne) => (
        <li>
          <a href={`/personne/${personne.id}`}>{personne.data.nom}</a>
        </li>
      ))
    }
  </ul>
</Layout>
