---
const { personne } = Astro.props;
---

{
  personne ? (
    <a href={`/personne/${personne.id}`} class="text-blue-600 hover:underline">{personne.data.nom}</a>
  ) : (
    <span class="text-gray-500 italic">Personne introuvable</span>
  )
}
